%%writefile {{ output_fn }}
#!/bin/bash
#SBATCH --job-name=cwl_{{ lib_type }}
#SBATCH --output={{ root_dir }}/processing/{{ lib_type }}/logs/{{ project_name }}-{{ pipeline_type }}-%a.out
{% if user_duke_email %}#SBATCH --mail-user={{ user_duke_email }}
#SBATCH --mail-type=FAIL,END
{% endif %}#SBATCH --mem={{ mem }}
#SBATCH --cpus-per-task={{ nthreads }}

set -euo pipefail

# export PATH="/hpc/group/gersbachlab/software/bin:$PATH"
export PATH="/hpc/group/gersbachlab/software/ucsc:$PATH"
export PATH="/hpc/group/gersbachlab/software/cwl/bin:$PATH"
# export PATH="/hpc/group/gersbachlab/software/rsem-1.2.21/:$PATH"
{% if lib_type == 'rna_seq' %}export PATH="/hpc/group/gersbachlab/software/STAR-STAR_2.4.1a/bin/Linux_x86_64/:$PATH"
export PATH="/hpc/group/gersbachlab/software/subread-1.4.6-p4-Linux-x86_64/bin/:$PATH"
# export PATH="/hpc/group/gersbachlab/software/bamtools-2.2.3/bin/:$PATH"
{% else %}export PATH="/hpc/group/gersbachlab/software/phantompeakqualtools-1.2/:$PATH"{% endif %}
# export PATH="{{ consts.CONDA_ACTIVATE | replace("bin/activate", "envs/%s/bin" % consts.CONDA_ENVIRONMENT)}}:$PATH"

module load Bedtools/2.30.0
module load FastQC/0.11.7
module load Bowtie/1.2.2
module load Bowtie2
## module load samtools/1.14-rhel8. # samtools v1.18 already install in cwl10
## module load Java/1.8.0_60
module load Picard/2.18.2
module load Trimmomatic/0.39
module load Boost/1.75-rhel8
{% if lib_type == 'starr_seq' %}module load fgbio/1.0.0{% endif %}

# For Fastqc
export DISPLAY=:0.0

# Make sure temporary files and folders are created in a specific folder
mkdir -p {{ root_dir }}/processing/{{ lib_type }}/tmpdirs/tmp-{{ project_name }}-{{ pipeline_type }}-${SLURM_ARRAY_TASK_ID}-
export TMPDIR="{{ root_dir }}/processing/{{ lib_type }}/tmpdirs/tmp-{{ project_name }}-{{ pipeline_type }}-${SLURM_ARRAY_TASK_ID}-"

cwltool --debug \
    --non-strict \
    --preserve-environment PATH \
    --preserve-environment DISPLAY \
    --preserve-environment TMPDIR \
    --cachedir ${TMPDIR} \
    --outdir {{ root_dir }}/processing/{{ lib_type }}/{{ project_name }}-{{ pipeline_type }}  \
    --no-container \
    {{ consts.CWL_WORKFLOWS_ROOTDIR }}/{% if lib_type == 'chip_seq' %}ChIP-seq{% elif lib_type=='rna_seq' %}RNA-seq{% elif lib_type=='atac_seq' %}ATAC-seq{% elif lib_type=='starr_seq' %}STARR-seq{% endif %}_pipeline/pipeline-{{ pipeline_type }}.cwl \
    {{ root_dir }}/processing/{{ lib_type }}/jsons/{{ metadata_basename }}-{{ pipeline_type }}-${SLURM_ARRAY_TASK_ID}.json

# Delete any tmpdir not removed by cwltool
rm -rf {{ root_dir }}/processing/{{ lib_type }}/tmpdirs/tmp-{{ project_name }}-{{ pipeline_type }}-${SLURM_ARRAY_TASK_ID}-

